@import url("/css/reset.css");

:root {
  --clr-primary-dark: hsl(218, 44%, 22%);
  --clr-primary: hsl(216, 15%, 48%);
  --clr-primaary-light: hsl(212, 45%, 89%);
  --ff-bold: 700;
  --ff-normal: 400;
  --ff-base: "Outfit", Arial, Helvetica, sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-base);
  background-color: var(--clr-primaary-light);
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 31.25rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.qr-code {
  padding: 0.9375rem;
  border-radius: 2rem;
}

h1 {
  padding: 0.9375rem;
  text-align: center;
  font-size: 1.35rem;
  font-weight: var(--ff-bold);
  color: var(--clr-primary-dark);
  line-height: 1.1;
}

p {
  margin-inline: 1rem;
  text-align: center;
  color: var(--clr-primaary;
}

.attribution {
  width: 20rem;
  text-align: center;
  margin-top: 0.9375rem;
}

a {
  text-decoration: none;
}
